@use "sass:map";
@use "../../../theme/_theme-colors" as palette;

:host {
  display: contents;
}

mat-progress-bar {
  --mat-progress-bar-active-indicator-height: 8px;
}

/* These colors are not the same as those on the vue app, I did this to stick to the M3 colors */
/* I'm lukewarm on this change, if somebody who is good at colours comes by and changes these I won't lose any sleep over it */
.strength-weak {
  --mat-progress-bar-active-indicator-color: light-dark(
    #{map.get(palette.$primary-palette, error, 60)},
    #{map.get(palette.$primary-palette, error, 30)}
  );
}

.strength-good {
  --mat-progress-bar-active-indicator-color: light-dark(
    #{map.get(palette.$primary-palette, secondary, 70)},
    #{map.get(palette.$primary-palette, secondary, 30)}
  );
}

.strength-strong {
  --mat-progress-bar-active-indicator-color: light-dark(
    #{map.get(palette.$primary-palette, 70)},
    #{map.get(palette.$primary-palette, 50)}
  );
}

.strength-very-strong {
  --mat-progress-bar-active-indicator-color: light-dark(
    #{map.get(palette.$tertiary-palette, 80)},
    #{map.get(palette.$tertiary-palette, 60)}
  );
}
