<mealie-auth-shell [backButton]="true">
  <main>
    <form (submit)="onSubmit($event)">
      <h2>{{ "user.reset-password" | translate }}</h2>

      <mat-form-field>
        <mat-label>{{ "user.email" | translate }}</mat-label>
        <input matInput [formField]="resetForm.email" />
        <mat-icon matTextPrefix svgIcon="email" />
        <mat-error mealieValidationError [field]="resetForm.email" />
      </mat-form-field>

      <mealie-new-password-input [passwordField]="resetForm.password" [confirmField]="resetForm.passwordConfirm" />

      <p class="hint">{{ "user.please-enter-password" | translate }}</p>

      <button matButton="filled" type="submit" [disabled]="!token() || loading()" [showProgress]="loading()">
        {{ "user.reset-password" | translate }}
        <mat-progress-spinner
          progressIndicator
          mode="indeterminate"
          diameter="20"
          [attr.aria-label]="'general.loading' | translate"
        />
      </button>
    </form>
  </main>
</mealie-auth-shell>
