<mealie-auth-shell [backButton]="true">
  <main>
    <form (submit)="onSubmit($event)">
      <h2>{{ "user.forgot-password" | translate }}</h2>

      <mat-form-field>
        <mat-label>{{ "user.email" | translate }}</mat-label>
        <input matInput [formField]="emailForm.email" />
        <mat-icon matTextPrefix svgIcon="email" />
        <mat-error mealieValidationError [field]="emailForm.email" />
      </mat-form-field>
      <p>{{ "user.forgot-password-text" | translate }}</p>

      <button matButton="filled" type="submit" [showProgress]="loading()">
        {{ "user.reset-password" | translate }}
        <mat-progress-spinner
          progressIndicator
          mode="indeterminate"
          diameter="20"
          [attr.aria-label]="'general.loading' | translate"
        />
      </button>
    </form>
  </main>
</mealie-auth-shell>
