#banner-card > mat-card-header > mat-icon {
  margin-bottom: 0;
  height: 32px;
  width: 32px;
}

#header-body-barrier {
  margin: 16px 0;
  position: relative;
  & > mat-divider {
    margin: 40px 0 60px;
  }
  & > mat-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-inline: auto;
    height: 84px;
    width: 84px;
    border-radius: 50px;
    padding: 8px;
    background-color: var(--brand-color);
    color: var(--color-on-brand);
  }
}

main {
  display: flex;
  flex-direction: column;

  & > h2,
  p {
    margin-top: 0;
    text-align: center;
  }

  & > button {
    margin: 16px 0;
  }

  & > span {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  #or-divider {
    display: flex;
    align-items: center;
    gap: 12px;

    mat-divider {
      flex: 1;
    }
  }
}

form {
  display: contents;
  a {
    align-self: center;
  }

  & > button {
    margin: 16px 0;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;

  /* Manual adjustment of documenation icon as it looks larger than the others in the footer */
  & > a > mat-icon[data-mat-icon-name="file-document-multiple-outline"] {
    width: 1rem;
    height: 1rem;
  }
}
